.DS_Store
/.gradle/
/.idea/
/Jalebi.iml
/graph/out/
/graph/build/
/graph/publish/
/core/publish/
/core/build/
/core/out/
/core/libs/
/scratchpad/target/
/scratchpad/out/
/scratchpad/build/
/proto/out/
/proto/build/
